@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  color-scheme: light; /* Forsira preglednik na light mode po defaultu */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* KADA JE KLASA .dark AKTIVNA (na gumb) */
.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
  color-scheme: dark;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
  -webkit-font-smoothing: antialiased;
}

/* Osiguraj da navigacija prati temu */
.dark nav {
  background-color: #111111;
  border-color: #262626;
}